# User email and name set in .bashrc
[color "diff"]
  whitespace = "red reverse"
[commit]
  gpgsign = true
[pull]
  ff = only
[user]
  name = Christian Hernvall
  email = christian.hernvall@gmail.com
